@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Stardos+Stencil&display=swap');
/* All backgrounds */
.backgroundtips{
    background-image: url(images/tipsbackground.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed
}
.backgroundhome{
    background-image: url(images/backgroundhome.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed
}
.safezonebackground{
    background-image: url(images/safezonebackground.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed
}
.eventsbackground{
    background-image: url(images/eventsbackground.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed
}
.background{
            background-image: url(images/backgroundpic.png);
            background-position: center;
            background-size: cover;
            background-repeat:no-repeat;
            background-attachment: fixed
}
/* all headings */
h1{
    font-size: 55px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    text-align: center;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-image: url(images/headerbg.jpeg);
    background-size: 50%;
    background-position:center;
    margin-top: 70px
}
h4{
    font-size: 55px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    text-align: center;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-image: url(images/headerbg4.jpeg);
    background-size: 50%;
    background-position:center;
}
/* margin for text box */
.margin{
    margin-left: 230px;
    margin-right: 50px;
}
/* day-z logo on index page */
.dayzlogo{
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: -150px;
    margin-bottom: 0px;
}
/* ps4 logo on index page */
.ps4and5index{
    width: 250px;
    height: 125px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-left: 500px;
    margin-top: -175px;
}
.discord{
    width: 650px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: -50px;
    margin-bottom: 0px;
}
h2{
    font-size: 55px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    text-align: center;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-image: url(images/headerbg2.jpeg);
    background-size: 500px;
    background-position: center;
}
h3{
    font-size: 55px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    text-align: center;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-image: url(images/headerbg3.jpeg);
    background-size: 50%;
    background-position:center
}
/* enter link text */
.enter{
    font-size: 100px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    text-align: center;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-image: url(images/sign1.png);
    background-size: 50%;
    background-position:center
}
.enter a {
    text-decoration: none;
    color:black
}
.enter a:hover{
    color:rgb(113, 5, 5);
    font-family: 'Creepster' , sans-serif;
}
/* navbar text on all pages */
.navbar{
    font-size: 25px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    display: flex;
    min-height: 100vh;
    float: left;
    flex-direction: column;
    justify-content:space-evenly;
    position:fixed;
    background-image: url(images/sign1.png);
    background-size: 50%;
    top: 0;
    background-size: 50%;
    background-position:center;
    margin-top:0px;
    margin-left: -7px;
}
.navbar a{
    text-align: center;
    text-decoration: none;
    color:black
}
/* ps4 logo on all pages */
.ps4logo{
    width: 200px;
    height: 35px
}
.ps5logo{
    width: 200px;
    height: 35px
}
.discordlogo{
    width: 200px;
    height: 85px;
    margin-top:-20px 
}
.dayzimage{
    width: 180px;
    height: 85px;
    margin-top: -20px
} 
.logobar{
    height: 40px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: -10px;
    margin-top: -70px;
    margin-bottom: 100px;
    position: fixed;
    flex-wrap: nowrap;
    background-image: url(images/sign2.png);
    padding: 10px
}
.textbox{
    padding: 20px;
    background-image: url(images/sign1.png);
    background-size: 50%;
    background-position:center 
}
.welcomepic{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 300px;
    margin-right: 50px;
}
.lovehands{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 350px;
    margin-right: 50px;

}
.woodsstash{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
}
.airdrop{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
}
.truckgear{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
}
.cargear{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
    margin-top: 30px;
}
.safezonemap{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
    margin-top: 10;
}
.safezonesmoke{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
    margin-top: 10;
}
.norules{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
    margin-top: 10;
}
.shopphoto{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
    margin-top: 10;
}
.shopclothes{
    display: flex;
    flex-direction: column;
    float: right;
    width: 450px;
    height: 250px;
    margin-right: 50px;
    margin-top: 10;
}
.group{
    display: flex;
    flex-direction: row;
    float: right;
    width: 960px;
    height: 400px;
    margin-right: 50px;
}
.quotes{
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-image: url(images/sign2.png);
    background-size: 50%;
    background-position:center 
}
.opentextfont{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    text-align: center
}
.textfont{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    text-align: left
}
.quotesfont{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Saira Stencil One', sans-serif;
    font-family: 'Stardos Stencil', sans-serif;
    text-align: center
}
.tipsimage1map{
    display:flex;
    float: right;
    width: 1000px;
    height: 400px;
    margin-top: -10px;
    margin-right: 20px
}
.h1tips{
    margin-top: 550px
}
img:hover{
    filter:brightness(90%)
  }
  .belowizurvive{
      display: flex;
      flex-direction: row;
      float: right;
      width: 970px;
  }
  .izlink{
      display: flex;
      float:right;
      width: 600px;
      margin-top: 40px;
  }
  .izlogosize{
      width: 300px;
      height: 300px
  }
  .wikilogomargin{
      display: flex;
      flex-direction: row;
      height: 300px;
      width: 300px;
      margin-left: 550px;
  }
  .discordlink{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 450px;
    margin-left: 400px;
}
  .fightevent{
      display: flex;
      flex-direction: row;
      margin-left: 500px;
  }